Checks: >
    -*,
    bugprone-*,
    clang-analyzer-*,
    concurrency-*,
    cppcoreguidelines-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -readability-identifier-length

# Turn all the warnings from the checks above into errors.
WarningsAsErrors: "*"